.attribute-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 0.25rem;
}

.attribute-box {
  text-align: center;
  border: 1px solid #aaa;
  transition: all 0.2s ease;
  height: 2rem;
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.875rem;
  background-color: white;
  padding: 0.3rem;
}

.attribute-box:hover {
  border-color: #aaa;
  transform: translateY(-1px);
}

.attribute-box.selected {
  background-color: #000;
  color: white;
  transform: translateY(-1px);
}

.color-box {
  min-width: 0.6rem !important; 
  height: 0.6rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #ddd;
  padding: 0.3rem;
}

.color-box.selected {
  border-color: #5ECE7B;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #26a822;
}