.header {
    position: fixed;
    padding: 1rem 2rem;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.categories {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    color: black;
}

.category {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

.category:hover {
    background-color:  rgb(39, 223, 39);
}

.active {
    color: rgb(39, 223, 39);
    font-weight: bold;
    transform: scale(1.05);
    border-bottom: solid rgb(39, 223, 39);
}

.active:hover {
    background-color:  rgb(218, 208, 187);
}

.cart-container {
    cursor: pointer;
    display: flex;
    margin-right: 3rem;
    background-color: rgb(253, 253, 253);
    border: none;
}

.cart-button {
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart-count {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0);
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
    align-self: center;
    margin-left: -0.7rem;
    margin-top: -1rem;
}
