.header {
    padding: 1rem 2rem;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.categories {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    color: black;
}

.category {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

.category:hover {
    background-color:  rgb(39, 223, 39);
}

.active {
    color: rgb(39, 223, 39);
    font-weight: bold;
    transform: scale(1.05);
}

.cart-container {
    position: relative;
    cursor: pointer;
    display: flex;
    gap:0rem;
}

.cart-count {
    color: rgb(0, 0, 0);
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
    align-self: center;
    justify-self: center;
}

.cart-button {
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}